
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default
$color-primary: var(--primary-color) !default
$color-secondary: var(--text-color) !default
$color-tertiary: var(--background-light) !default
$color-quaternary: var(--primary-color-highlight) !default
$color-quinary: var(--background-lightest) !default
