
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default
$color-primary: $nord8 !default
$color-secondary: $nord4 !default
$color-tertiary: $nord1 !default
$color-quaternary: $nord7 !default
$color-quinary: $nord3 !default
