<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="toggle">
	<input type="checkbox" id="toggle" />
	<label for="toggle"></label>
      </div>
    </nav>
  </div>
</header>

<script>
 let sessionStorage = window.sessionStorage;
 let root = document.documentElement;
 let values = getComputedStyle(root);
 let toggle = document.getElementById('toggle');

 window.onload = function() {
   if (sessionStorage.getItem('theme') === 'dark') { toggle.click(); }
 }
 
 toggle.onclick = function() {
   if (this.checked) {
     root.style.setProperty('--background-color', values.getPropertyValue('--dark-background-color'));
     root.style.setProperty('--background-light', values.getPropertyValue('--dark-background-light'));
     root.style.setProperty('--background-lighter', values.getPropertyValue('--dark-background-lighter'));
     root.style.setProperty('--background-lightest', values.getPropertyValue('--dark-background-lightest'));
     root.style.setProperty('--text-color', values.getPropertyValue('--dark-text-color'));
     toggle.classList.add('active')
   } else {
     root.style.setProperty('--background-color', values.getPropertyValue('--light-background-color'));
     root.style.setProperty('--background-light', values.getPropertyValue('--light-background-light'));
     root.style.setProperty('--background-lighter', values.getPropertyValue('--light-background-lighter'));
     root.style.setProperty('--background-lightest', values.getPropertyValue('--light-background-lightest'));
     root.style.setProperty('--text-color', values.getPropertyValue('--light-text-color'));
     toggle.classList.remove('active')
   }

   sessionStorage.setItem('theme', this.checked ? 'dark' : 'light');
 }
</script>
