<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <label class="switch">
	<input type="checkbox" id="theme-toggle" />
	<span class="slider round" for="theme-toggle"></span>
      </label>
    </nav>
  </div>
</header>
