code { font-family: $mono-font }
.highlight .hll { background-color: $nord1 }
.highlight .c { color: $nord3; font-style: italic } /* Comment */
.highlight .err { color: $nord11; background-color: $nord2 } /* Error */
.highlight .k { color: $nord9; font-weight: bold } /* Keyword */
.highlight .o { color: $nord9; font-weight: bold } /* Operator */
.highlight .cm { color: $nord3; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $nord12; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: $nord3; font-style: italic } /* Comment.Single */
.highlight .cs { color: $nord12; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: $nord9; background-color: $nord2 } /* Generic.Deleted */
.highlight .ge { color: $nord9; font-style: italic } /* Generic.Emph */
.highlight .gr { color: $nord11 } /* Generic.Error */
.highlight .gh { color: $nord12 } /* Generic.Heading */
.highlight .gi { color: $nord9; background-color: $nord2 } /* Generic.Inserted */
.highlight .go { color: $nord2 } /* Generic.Output */
.highlight .gp { color: $nord2 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $nord3 } /* Generic.Subheading */
.highlight .gt { color: $nord11 } /* Generic.Traceback */
.highlight .kc { color: $nord9; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: $nord9; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: $nord9; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: $nord9; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: $nord9; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $nord7; font-weight: bold } /* Keyword.Type */
.highlight .m { color: $nord15 } /* Literal.Number */
.highlight .s { color: $nord14 } /* Literal.String */
.highlight .na { color: $nord7 } /* Name.Attribute */
.highlight .nb { color: $nord7 } /* Name.Builtin */
.highlight .nc { color: $nord7; font-weight: bold } /* Name.Class */
.highlight .no { color: $nord7 } /* Name.Constant */
.highlight .nd { color: $nord7; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: $nord7 } /* Name.Entity */
.highlight .ne { color: $nord8; font-weight: bold } /* Name.Exception */
.highlight .nf { color: $nord8; font-weight: bold } /* Name.Function */
.highlight .nl { color: $nord8; font-weight: bold } /* Name.Label */
.highlight .nn { color: $nord7 } /* Name.Namespace */
.highlight .nt { color: $nord8 } /* Name.Tag */
.highlight .nv { color: $nord7 } /* Name.Variable */
.highlight .ow { color: $nord9; font-weight: bold } /* Operator.Word */
.highlight .w { color: $nord5 } /* Text.Whitespace */
.highlight .mf { color: $nord15 } /* Literal.Number.Float */
.highlight .mh { color: $nord15 } /* Literal.Number.Hex */
.highlight .mi { color: $nord15 } /* Literal.Number.Integer */
.highlight .mo { color: $nord15 } /* Literal.Number.Oct */
.highlight .sb { color: $nord14 } /* Literal.String.Backtick */
.highlight .sc { color: $nord14 } /* Literal.String.Char */
.highlight .sd { color: $nord14 } /* Literal.String.Doc */
.highlight .s2 { color: $nord14 } /* Literal.String.Double */
.highlight .se { color: $nord14 } /* Literal.String.Escape */
.highlight .sh { color: $nord14 } /* Literal.String.Heredoc */
.highlight .si { color: $nord14 } /* Literal.String.Interpol */
.highlight .sx { color: $nord14 } /* Literal.String.Other */
.highlight .sr { color: $nord13 } /* Literal.String.Regex */
.highlight .s1 { color: $nord14 } /* Literal.String.Single */
.highlight .ss { color: $nord7 } /* Literal.String.Symbol */
.highlight .bp { color: $nord12 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $nord7 } /* Name.Variable.Class */
.highlight .vg { color: $nord7 } /* Name.Variable.Global */
.highlight .vi { color: $nord7 } /* Name.Variable.Instance */
.highlight .il { color: $nord15 } /* Literal.Number.Integer.Long */
