@import 'nord';
@import 'fonts';

$mono-font: 'Roboto Mono', monospace;
$serif-font: 'Merriweather', serif;
$sans-serif-font: 'Montserrat', sans-serif;

:root {
  --dark-background-color: #{$nord0};
  --dark-background-light: #{$nord1};
  --dark-background-lighter: #{$nord2};
  --dark-background-lightest: #{$nord3};
  --dark-text-color: #{$nord4};

  --light-background-color: #{$nord6};
  --light-background-light: #{$nord5};
  --light-background-lighter: #{$nord4};
  --light-background-lightest: #{$nord3};
  --light-text-color: #{$nord0};

  --background-color: var(--light-background-color);
  --background-light: var(--light-background-light);
  --background-lighter: var(--light-background-lighter);
  --background-lightest: var(--light-background-lightest);

  --text-color: var(--light-text-color);

  --primary-color: #{$nord8};
  --primary-color-highlight: #{$nord7};
  --primary-color-shadow: #{$nord9};
}
