$base-font-family: $serif-font !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       var(--text-color) !default;
$background-color: var(--background-color) !default;
$brand-color:      var(--primary-color) !default;

$grey-color:       var(--background-lighter) !default;
$grey-color-light: var(--background-lightest) !default;
$grey-color-dark:  var(--background-light) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
